*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit", sans-serif;
    position: relative ;
    min-height: 100vh;
    text-align: center;
}
.container{
    background: hsl(212, 45%, 89%);
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.qrcode-body{
    background-color:white ;
    width: 220px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}
.qr-image{
    padding: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
.qr-image img{
    width: 200px;
    border-radius: 8px;
} 
.text-body{
    padding: 4px 8px;
}
.text-body h2{
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    color: #343D4B;
}
.text-body p{
    font-size: 12px;
    opacity: 0.7;
    color:gray;
}
.attribution{
    position: absolute; 
    bottom: 0;
}
.name a{
    color: rgb(97, 82, 82);
    text-decoration: none;
}

